{% extends 'public/base.html' %}

{% block title %}
    商家{{ flags }}
{% endblock %}
{% block ext_js %}
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
    <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
    <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
    <script src="{{ url_for('static', filename='js/itqiniu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/img_upload.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">{{ flags }}</h3>
            </div>
            <form class="form-horizontal" method="post" action="" novalidate>
                {% for item in form %}
                    {% if item.id=="image-input" %}
                        <div class="form-group">
                            {{ item.label(class_="col-sm-3 control-label") }}
                            <div class="col-sm-3">
                                <button id="upload-btn" class="btn btn-default form-control">上传图片</button>
                            </div>
                            <div class="col-sm-6">
                                {{ item }}
                                <img src="{{ item.object_data }}" alt="" width="50px" id="image1-show">
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ item.label(class_="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{ item }}
                                <span class="text-danger">{{ item.errors[0] }}</span>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">{{ flags }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
{% block end_js %}
    <script>
        $(function () {
            var my_url = "{{ request.base_url }}";
            console.log("{{ request.base_url }}")
            var selected = document.getElementsByTagName("option");
            for (i = 0; i <= selected.length; i++) {
                var a = selected[i];
                if (a.getAttribute("value") == my_url.split("/")[4]) {
                    a.setAttribute("selected", "selected")
                }

            }
        })

    </script>
{% endblock %}